<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body class="mainPage">
    <%- include('../includes/navigation.ejs') %>

    <main>
        <h1 class="centered">Welcome!</h1>
        <p class="centered"> One place to find products that fit your uniqueness and lifestyle</p>
    </main>
<%- include('../includes/end.ejs') %>