<%- include('includes/top.ejs') %>

<form action="/add-user" method="POST">
    <input type="text" name="addUser">
    <button type="submit">Add user</button>
</form>

<%- include('includes/bottom.ejs') %>